PracticeConsoleApp/bin/Debug/PracticeConsoleApp.exe
PracticeConsoleApp/bin/Debug/PracticeConsoleApp.exe.config
PracticeConsoleApp/bin/Debug/PracticeConsoleApp.pdb
PracticeConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PracticeConsoleApp/obj/Debug/PracticeConsoleApp.csproj.CoreCompileInputs.cache
PracticeConsoleApp/obj/Debug/PracticeConsoleApp.csproj.FileListAbsolute.txt
PracticeConsoleApp/obj/Debug/PracticeConsoleApp.csprojAssemblyReference.cache
PracticeConsoleApp/obj/Debug/PracticeConsoleApp.exe
PracticeConsoleApp/obj/Debug/PracticeConsoleApp.pdb
PracticeConsoleApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PracticeConsoleApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PracticeConsoleApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs